body{
    background-color: orange;
}

.wrap{
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 90vmin;
    padding:30px 0;
    top:50%;
    left:50%;
    border-radius: 10px;
}

.buttons{
    width: 90%;
    display:flex;
    justify-content: space-around;
    margin:auto;
    border-bottom: 2px solid black;
}

.buttons button{
    background-color: orange;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    outline: none;
}



.container{
    position: relative;

}

.monster{
    position: relative;
    margin:auto;
    height: 420px;
    width: 350px;
    border: 1px solid;
}

.monsterbody{
    height: 310px;
    width: 220px;
}